#nav-Logo-2 {
	display: none;
}
#container-img {
	top: 25%;
	width: 60%;
	filter: drop-shadow(4px 6px 2px hsla(0,0%,50%,1));
}
#container-Login {
	top: 100%;
	width: 80%;
	height: max-content;
	max-width: 540px;
	transform: translate(-50%,-100%);
	gap: .5rem;
	padding: 1rem;
}
#header-Login {
	width: 100%;
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 30px;
	text-align: left;
}
#body-Login {
	display: none;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
}
#container-Password {
	margin-bottom: 5px;
}
#fPass {
	display: contents;
	text-align: right;
	font-size: 14px;
	color: hsla(0,0%,80%,1.00);
}
#submit {
	display: block;
	width: 200px;
	font-size: 18px;
	margin: auto;
	border: none;
	color: white;
	background: linear-gradient(to right, hsla(0,0%,70%,1), hsla(0,0%,50%,1.00));
}
#treStreak {
	left: calc(50% + 300px);
	top: calc(50% - 150px);
}
#background {
	position: relative;
	width: 100%;
	height: 100%;
	background: #373737;
	overflow: hidden;
}
#backgroundCover {
	width: 110%;
	height: 110%;
	background: hsla(0,0%,90%,0.4);
}
#container-iFrame {
	width: 110%;
	height: 110%;
}
#toop {
	position: absolute;
	height: 110%;
	filter: blur(10px);
	transform: translate(-50%, -50%) scale(1.3);
}



@media only screen and (min-width: 800px) {
	#submit {
		flex: 10;
		width: fit-content;
		min-width: 200px;
		padding: 10px 40px;
		background: hsla(0,0%,100%,0.6);
		border: 8px solid hsla(0,0%,50%,.5);
		border-radius: 500px;
		box-shadow: 0 3px 6px hsla(0,0%,0%,.2);
		text-align: center;
		color: hsla(0,0%,50%,1.00);
		font-size: 20px;
		font-family: Nunito;
		font-weight: 700;
		cursor: pointer;
		transition: background .3s ease-out, border .3s ease-out;
	}
	
}

@media only screen and (min-width: 900px) {
	#container-Login {
		top: 50%;
		width: 40%;
		transform: translate(-50%,-50%);
	}
	#header-Login {
		width: 100%;
		font-size: 32px;
		font-weight: 800;
		margin-bottom: 30px;
		text-align: center;
	}
	#body-Login {
		display: block;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
		text-align: center;
	}
	#container-Password {
		margin-bottom: 5px;
	}
	#submit {
		display: block;
		width: 300px;
		margin: 25px auto 30px;
	}
	#cAcc {
		width: max-content;
		margin: auto;
		text-align: center;
	}
}